html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}


.container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 3px solid black;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.card-img {
  width: 100px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 15px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}